<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Angel Kittiyachavalit loves the interwebz</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700,200italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body class="wrap" data-spy="scroll" data-target="#navbar">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div
    <div class="blogHeader">
      <div class="row">
        <div class="subheader">
          <img src="/img/heart_logo.png" alt="Angel loves logo" />
          <h2>Angel Loves</h2>
          <div class="thing">blogging sometimes</div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="contentSmall">
        <div class="container">

          <div class="posts span8">
          {{content}}
          </div>
        </div>
      </div>

       <div class="sidebar">
        <div class="blogBio">
          <img src="/img/angel_ah_small.png" />
          <p>Welcome to my blog! This is where you'll find a mashup of the things that I love. Enjoy!</p>
          <ul class="social unstyled">
            <li><a class="mailsm" mailto=></a></li>
            <li><a class="twittersm" href="http://twitter.com/angelk" target="_blank"></a></li>
            <li><a class="githubsm" href="http://github.com/akit" target="_blank"></a></li>
            <li><a class="linkedinsm" href="http://linkedin.com/angel_kittiyachavalit" target="_blank"></a></li>
            <li><a class="pinterestsm" href="http://pinterest.com/angel" target="_blank"></a></li>
          </ul>
        </div>
      </div>
    </div>

  </body>